html,
body {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    display: flex;
}

#container {
    display: grid;
    border: 2px rgb(24, 0, 0) solid;
    min-width: 600px;
        min-height: 600px;
}


#title {
    width: 900px;
    text-align: center;
        font-size: 30px;
    color: rgb(24, 0, 0);
}

.userInput {
    display: flex;
    flex-direction: column;
        margin-top: 10px;
        align-items: center;
        gap: 20px;
        width: 150px;
}

button {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 30px;
    border: none;
    border-radius: 20px;
background-color: rgb(230, 230, 230);
}

.selection {
    width: 120px;
}
button:hover {
    cursor: pointer;
}

.active {
    border: 2px rgb(24, 0, 0) solid;
}

#gridSize {
    text-align: center;
}

.colorPicker {
    appearance: none;
    width: 120px;
        height: 120px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.colorPicker::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}

.colorPicker::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}
#brushText {
    text-align: center;
}

#userChoice {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

#clear {
    width: 80px;
}